@CHARSET "UTF-8";
body,
html {
    margin:0 auto;
    padding:0;
    background:#F5F5F5;
    font-family:"Trebuchet MS";
}
td {
	padding:5px 10px 5px 10px;
}
#top {
    height:10px;
    background:#5BD847;
}
#header {
    height:60px;
    padding:20px;
    padding-left:50px;
    background-color:#071871;
    color:#fff;
    font-size:15px;
    font-weight:bold;
}
#logo {
	color:#fff;
    font-size:35px;
    font-weight:bold;
    text-decoration:none;
}
#nav {
    background:#071871;
    width:200px;
    color:#fff;
    font-size:15px;
    padding-left:140px;
    font-weight:normal;
}
#nav a {
	text-decoration:none;
	color:#fff;
}
#search {
	padding-right:5px;
}
#wrap {
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
}
#wrap a {
	text-decoration:none;
	color:#0017AE;
}
.box1 {
	background-color:#FDFDFD;
	border:1px solid black;
	padding:15px;
}
.box1out {
	background-color:#FDFDFD;
	border:1px solid black;
	padding:10px 30px 20px 30px;
}
.box2 {
	background-color:#FDFDFD;
	border:1px dotted black;
	padding:15px;
}
.tableHead {
	font-weight:bold;
}
.formFormat {
	text-align: left;
	display: table-cell;
	min-width: 10px;
	padding-right: 10px;
}
.buttonFormat {
	display:inline;
}
.green {
	font-color:#2DA620;
}
.red {
	font-color:#D72D2D;
}